--
-- PostgreSQL database dump
--

\restrict gw7y1TXTbXL3yw6cIel75P4lw0u4IBQcn6dCBUaTBdShUsWdDkPijSmX07cv07F

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_configurations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agent_configurations (
    id integer NOT NULL,
    company_id integer NOT NULL,
    config_key character varying(100) NOT NULL,
    config_value text,
    description character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.agent_configurations OWNER TO postgres;

--
-- Name: agent_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agent_configurations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agent_configurations_id_seq OWNER TO postgres;

--
-- Name: agent_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agent_configurations_id_seq OWNED BY public.agent_configurations.id;


--
-- Name: agents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agents (
    id integer NOT NULL,
    company_id integer NOT NULL,
    device_id character varying(255) NOT NULL,
    agent_key character varying(255) NOT NULL,
    hostname character varying(255),
    os_version character varying(100),
    agent_version character varying(50),
    last_heartbeat timestamp with time zone,
    status character varying(20) DEFAULT 'offline'::character varying,
    ip_address character varying(45),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT agents_status_check CHECK (((status)::text = ANY ((ARRAY['online'::character varying, 'offline'::character varying, 'error'::character varying])::text[])))
);


ALTER TABLE public.agents OWNER TO postgres;

--
-- Name: agents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agents_id_seq OWNER TO postgres;

--
-- Name: agents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agents_id_seq OWNED BY public.agents.id;


--
-- Name: ai_insights; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_insights (
    id bigint NOT NULL,
    company_id integer NOT NULL,
    device_id integer,
    insight_type character varying(100),
    title character varying(255),
    summary text,
    analysis text,
    recommendations jsonb,
    confidence_score numeric(5,2),
    related_log_ids jsonb,
    status character varying(20) DEFAULT 'new'::character varying,
    created_by_ai boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT ai_insights_status_check CHECK (((status)::text = ANY ((ARRAY['new'::character varying, 'reviewed'::character varying, 'applied'::character varying, 'dismissed'::character varying])::text[])))
);


ALTER TABLE public.ai_insights OWNER TO postgres;

--
-- Name: ai_insights_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_insights_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_insights_id_seq OWNER TO postgres;

--
-- Name: ai_insights_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_insights_id_seq OWNED BY public.ai_insights.id;


--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    id bigint NOT NULL,
    company_id integer NOT NULL,
    device_id integer,
    alert_type character varying(100) NOT NULL,
    severity character varying(20) NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    status character varying(20) DEFAULT 'open'::character varying,
    acknowledged_by integer,
    acknowledged_at timestamp with time zone,
    resolved_at timestamp with time zone,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT alerts_severity_check CHECK (((severity)::text = ANY ((ARRAY['critical'::character varying, 'high'::character varying, 'medium'::character varying, 'low'::character varying, 'info'::character varying])::text[]))),
    CONSTRAINT alerts_status_check CHECK (((status)::text = ANY ((ARRAY['open'::character varying, 'acknowledged'::character varying, 'resolved'::character varying, 'closed'::character varying])::text[])))
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alerts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.alerts_id_seq OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    company_id integer,
    user_id integer,
    action character varying(100) NOT NULL,
    entity_type character varying(100),
    entity_id integer,
    old_values jsonb,
    new_values jsonb,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    domain character varying(255),
    subdomain character varying(100),
    plan_id integer NOT NULL,
    status character varying(20) DEFAULT 'trial'::character varying,
    max_agents integer DEFAULT 10,
    max_devices integer DEFAULT 50,
    trial_ends_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    company_code character varying(16),
    CONSTRAINT companies_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'suspended'::character varying, 'trial'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.companies_id_seq OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: company_features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company_features (
    id integer NOT NULL,
    company_id integer NOT NULL,
    feature_id integer NOT NULL,
    is_enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.company_features OWNER TO postgres;

--
-- Name: company_features_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.company_features_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.company_features_id_seq OWNER TO postgres;

--
-- Name: company_features_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.company_features_id_seq OWNED BY public.company_features.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    company_id integer NOT NULL,
    agent_id integer,
    device_id character varying(255) NOT NULL,
    hostname character varying(255),
    username character varying(255),
    domain_name character varying(255),
    os_name character varying(100),
    os_version character varying(100),
    os_build character varying(50),
    os_architecture character varying(20),
    manufacturer character varying(255),
    model character varying(255),
    serial_number character varying(255),
    status character varying(20) DEFAULT 'active'::character varying,
    last_seen timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT devices_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'maintenance'::character varying])::text[])))
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.devices_id_seq OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: event_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_logs (
    id bigint NOT NULL,
    device_id integer NOT NULL,
    log_type character varying(20) NOT NULL,
    event_id integer,
    level character varying(20) NOT NULL,
    source character varying(255),
    message text,
    category character varying(100),
    user_name character varying(255),
    computer_name character varying(255),
    time_generated timestamp with time zone NOT NULL,
    raw_data jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT event_logs_level_check CHECK (((level)::text = ANY ((ARRAY['critical'::character varying, 'error'::character varying, 'warning'::character varying, 'information'::character varying, 'verbose'::character varying])::text[]))),
    CONSTRAINT event_logs_log_type_check CHECK (((log_type)::text = ANY ((ARRAY['system'::character varying, 'application'::character varying, 'security'::character varying, 'hardware'::character varying, 'custom'::character varying])::text[])))
);


ALTER TABLE public.event_logs OWNER TO postgres;

--
-- Name: event_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.event_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.event_logs_id_seq OWNER TO postgres;

--
-- Name: event_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.event_logs_id_seq OWNED BY public.event_logs.id;


--
-- Name: features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.features (
    id integer NOT NULL,
    code character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100),
    is_premium boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.features OWNER TO postgres;

--
-- Name: features_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.features_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.features_id_seq OWNER TO postgres;

--
-- Name: features_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.features_id_seq OWNED BY public.features.id;


--
-- Name: hardware_inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hardware_inventory (
    id integer NOT NULL,
    device_id integer NOT NULL,
    component_type character varying(50) NOT NULL,
    manufacturer character varying(255),
    model character varying(255),
    serial_number character varying(255),
    part_number character varying(255),
    capacity character varying(50),
    type character varying(100),
    interface character varying(100),
    health_status character varying(50),
    firmware_version character varying(100),
    additional_data jsonb,
    detected_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT hardware_inventory_component_type_check CHECK (((component_type)::text = ANY ((ARRAY['cpu'::character varying, 'ram'::character varying, 'hdd'::character varying, 'ssd'::character varying, 'gpu'::character varying, 'display'::character varying, 'keyboard'::character varying, 'touchpad'::character varying, 'motherboard'::character varying, 'battery'::character varying, 'network_adapter'::character varying])::text[])))
);


ALTER TABLE public.hardware_inventory OWNER TO postgres;

--
-- Name: hardware_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hardware_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hardware_inventory_id_seq OWNER TO postgres;

--
-- Name: hardware_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hardware_inventory_id_seq OWNED BY public.hardware_inventory.id;


--
-- Name: network_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.network_info (
    id integer NOT NULL,
    device_id integer NOT NULL,
    adapter_name character varying(255),
    adapter_type character varying(100),
    mac_address character varying(17),
    ip_address character varying(45),
    subnet_mask character varying(45),
    gateway character varying(45),
    dns_servers character varying(500),
    is_dhcp_enabled boolean,
    connection_status character varying(50),
    speed_mbps integer,
    detected_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.network_info OWNER TO postgres;

--
-- Name: network_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.network_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.network_info_id_seq OWNER TO postgres;

--
-- Name: network_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.network_info_id_seq OWNED BY public.network_info.id;


--
-- Name: performance_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.performance_metrics (
    id bigint NOT NULL,
    device_id integer NOT NULL,
    cpu_usage numeric(5,2),
    memory_usage numeric(5,2),
    memory_total_gb numeric(10,2),
    memory_available_gb numeric(10,2),
    disk_usage_c numeric(5,2),
    disk_free_c_gb numeric(10,2),
    disk_total_c_gb numeric(10,2),
    network_sent_mb numeric(10,2),
    network_received_mb numeric(10,2),
    temperature_cpu numeric(5,2),
    uptime_seconds bigint,
    boot_time timestamp with time zone,
    recorded_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.performance_metrics OWNER TO postgres;

--
-- Name: performance_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.performance_metrics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.performance_metrics_id_seq OWNER TO postgres;

--
-- Name: performance_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.performance_metrics_id_seq OWNED BY public.performance_metrics.id;


--
-- Name: plan_features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plan_features (
    id integer NOT NULL,
    plan_id integer NOT NULL,
    feature_id integer NOT NULL,
    is_enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.plan_features OWNER TO postgres;

--
-- Name: plan_features_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plan_features_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.plan_features_id_seq OWNER TO postgres;

--
-- Name: plan_features_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plan_features_id_seq OWNED BY public.plan_features.id;


--
-- Name: plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plans (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    display_name character varying(255) NOT NULL,
    description text,
    price numeric(10,2) DEFAULT 0,
    max_agents integer DEFAULT 10,
    max_devices integer DEFAULT 50,
    is_custom boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.plans OWNER TO postgres;

--
-- Name: plans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.plans_id_seq OWNER TO postgres;

--
-- Name: plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plans_id_seq OWNED BY public.plans.id;


--
-- Name: security_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_status (
    id integer NOT NULL,
    device_id integer NOT NULL,
    antivirus_status character varying(50),
    antivirus_name character varying(255),
    antivirus_last_scan timestamp with time zone,
    firewall_status character varying(50),
    bitlocker_status character varying(50),
    windows_defender_enabled boolean,
    last_security_update timestamp with time zone,
    checked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.security_status OWNER TO postgres;

--
-- Name: security_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.security_status_id_seq OWNER TO postgres;

--
-- Name: security_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_status_id_seq OWNED BY public.security_status.id;


--
-- Name: software_inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.software_inventory (
    id integer NOT NULL,
    device_id integer NOT NULL,
    name character varying(255) NOT NULL,
    version character varying(100),
    publisher character varying(255),
    install_date timestamp with time zone,
    install_location character varying(500),
    size_bytes bigint,
    is_system boolean DEFAULT false,
    detected_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.software_inventory OWNER TO postgres;

--
-- Name: software_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.software_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.software_inventory_id_seq OWNER TO postgres;

--
-- Name: software_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.software_inventory_id_seq OWNED BY public.software_inventory.id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickets (
    id bigint NOT NULL,
    company_id integer NOT NULL,
    device_id integer,
    created_by integer NOT NULL,
    assigned_to integer,
    title character varying(255) NOT NULL,
    description text,
    priority character varying(20) DEFAULT 'medium'::character varying,
    status character varying(20) DEFAULT 'open'::character varying,
    category character varying(100),
    related_alert_id bigint,
    resolution_notes text,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tickets_priority_check CHECK (((priority)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying, 'critical'::character varying])::text[]))),
    CONSTRAINT tickets_status_check CHECK (((status)::text = ANY ((ARRAY['open'::character varying, 'in_progress'::character varying, 'resolved'::character varying, 'closed'::character varying])::text[])))
);


ALTER TABLE public.tickets OWNER TO postgres;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tickets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tickets_id_seq OWNER TO postgres;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    company_id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    role character varying(20) DEFAULT 'viewer'::character varying,
    is_active boolean DEFAULT true,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['super_admin'::character varying, 'admin'::character varying, 'company_admin'::character varying, 'technician'::character varying, 'viewer'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: agent_configurations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_configurations ALTER COLUMN id SET DEFAULT nextval('public.agent_configurations_id_seq'::regclass);


--
-- Name: agents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents ALTER COLUMN id SET DEFAULT nextval('public.agents_id_seq'::regclass);


--
-- Name: ai_insights id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_insights ALTER COLUMN id SET DEFAULT nextval('public.ai_insights_id_seq'::regclass);


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: company_features id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_features ALTER COLUMN id SET DEFAULT nextval('public.company_features_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: event_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_logs ALTER COLUMN id SET DEFAULT nextval('public.event_logs_id_seq'::regclass);


--
-- Name: features id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features ALTER COLUMN id SET DEFAULT nextval('public.features_id_seq'::regclass);


--
-- Name: hardware_inventory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hardware_inventory ALTER COLUMN id SET DEFAULT nextval('public.hardware_inventory_id_seq'::regclass);


--
-- Name: network_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.network_info ALTER COLUMN id SET DEFAULT nextval('public.network_info_id_seq'::regclass);


--
-- Name: performance_metrics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance_metrics ALTER COLUMN id SET DEFAULT nextval('public.performance_metrics_id_seq'::regclass);


--
-- Name: plan_features id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features ALTER COLUMN id SET DEFAULT nextval('public.plan_features_id_seq'::regclass);


--
-- Name: plans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plans ALTER COLUMN id SET DEFAULT nextval('public.plans_id_seq'::regclass);


--
-- Name: security_status id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_status ALTER COLUMN id SET DEFAULT nextval('public.security_status_id_seq'::regclass);


--
-- Name: software_inventory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software_inventory ALTER COLUMN id SET DEFAULT nextval('public.software_inventory_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: agent_configurations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agent_configurations (id, company_id, config_key, config_value, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agents (id, company_id, device_id, agent_key, hostname, os_version, agent_version, last_heartbeat, status, ip_address, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ai_insights; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_insights (id, company_id, device_id, insight_type, title, summary, analysis, recommendations, confidence_score, related_log_ids, status, created_by_ai, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alerts (id, company_id, device_id, alert_type, severity, title, message, status, acknowledged_by, acknowledged_at, resolved_at, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, company_id, user_id, action, entity_type, entity_id, old_values, new_values, ip_address, user_agent, created_at) FROM stdin;
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, name, domain, subdomain, plan_id, status, max_agents, max_devices, trial_ends_at, created_at, updated_at, company_code) FROM stdin;
2	UFO MOVIEZ INDIA Ltd.	\N	\N	1	trial	10	50	2025-11-24 18:53:34.944+00	2025-11-10 18:53:34.954+00	2025-11-10 20:18:36.022337+00	4395700348200825
\.


--
-- Data for Name: company_features; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_features (id, company_id, feature_id, is_enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devices (id, company_id, agent_id, device_id, hostname, username, domain_name, os_name, os_version, os_build, os_architecture, manufacturer, model, serial_number, status, last_seen, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: event_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event_logs (id, device_id, log_type, event_id, level, source, message, category, user_name, computer_name, time_generated, raw_data, created_at) FROM stdin;
\.


--
-- Data for Name: features; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hardware_inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hardware_inventory (id, device_id, component_type, manufacturer, model, serial_number, part_number, capacity, type, interface, health_status, firmware_version, additional_data, detected_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: network_info; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.network_info (id, device_id, adapter_name, adapter_type, mac_address, ip_address, subnet_mask, gateway, dns_servers, is_dhcp_enabled, connection_status, speed_mbps, detected_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: performance_metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.performance_metrics (id, device_id, cpu_usage, memory_usage, memory_total_gb, memory_available_gb, disk_usage_c, disk_free_c_gb, disk_total_c_gb, network_sent_mb, network_received_mb, temperature_cpu, uptime_seconds, boot_time, recorded_at, created_at) FROM stdin;
\.


--
-- Data for Name: plan_features; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: security_status; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.security_status (id, device_id, antivirus_status, antivirus_name, antivirus_last_scan, firewall_status, bitlocker_status, windows_defender_enabled, last_security_update, checked_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: software_inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.software_inventory (id, device_id, name, version, publisher, install_date, install_location, size_bytes, is_system, detected_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tickets (id, company_id, device_id, created_by, assigned_to, title, description, priority, status, category, related_alert_id, resolution_notes, resolved_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, company_id, email, password_hash, first_name, last_name, role, is_active, last_login, created_at, updated_at) FROM stdin;
1	2	aziz.shaikh@ufomoviez.com	$2a$10$vRPldpsX5X316Fr0jzQFC.NqMOJxYGCBWdeKzMxemaWfj0Dw0bEfK	Aziz	Shaikh	company_admin	t	2025-11-10 21:18:35.956+00	2025-11-10 18:53:35.539+00	2025-11-10 21:18:35.993616+00
\.


--
-- Name: agent_configurations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agent_configurations_id_seq', 1, false);


--
-- Name: agents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agents_id_seq', 1, false);


--
-- Name: ai_insights_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_insights_id_seq', 1, false);


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alerts_id_seq', 1, false);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.companies_id_seq', 2, true);


--
-- Name: company_features_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.company_features_id_seq', 1, false);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.devices_id_seq', 1, false);


--
-- Name: event_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.event_logs_id_seq', 1, false);


--
-- Name: features_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.features_id_seq', 17, true);


--
-- Name: hardware_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hardware_inventory_id_seq', 1, false);


--
-- Name: network_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.network_info_id_seq', 1, false);


--
-- Name: performance_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.performance_metrics_id_seq', 1, false);


--
-- Name: plan_features_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plan_features_id_seq', 32, true);


--
-- Name: plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plans_id_seq', 4, true);


--
-- Name: security_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_status_id_seq', 1, false);


--
-- Name: software_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.software_inventory_id_seq', 1, false);


--
-- Name: tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tickets_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: agent_configurations agent_configurations_company_id_config_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_configurations
    ADD CONSTRAINT agent_configurations_company_id_config_key_key UNIQUE (company_id, config_key);


--
-- Name: agent_configurations agent_configurations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_configurations
    ADD CONSTRAINT agent_configurations_pkey PRIMARY KEY (id);


--
-- Name: agents agents_agent_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_agent_key_key UNIQUE (agent_key);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: ai_insights ai_insights_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_insights
    ADD CONSTRAINT ai_insights_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: companies companies_company_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_company_code_key UNIQUE (company_code);


--
-- Name: companies companies_domain_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_domain_key UNIQUE (domain);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: companies companies_subdomain_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_subdomain_key UNIQUE (subdomain);


--
-- Name: company_features company_features_company_id_feature_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_features
    ADD CONSTRAINT company_features_company_id_feature_id_key UNIQUE (company_id, feature_id);


--
-- Name: company_features company_features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_features
    ADD CONSTRAINT company_features_pkey PRIMARY KEY (id);


--
-- Name: devices devices_company_id_device_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_company_id_device_id_key UNIQUE (company_id, device_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: event_logs event_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_logs
    ADD CONSTRAINT event_logs_pkey PRIMARY KEY (id);


--
-- Name: features features_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT features_code_key UNIQUE (code);


--
-- Name: features features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT features_pkey PRIMARY KEY (id);


--
-- Name: hardware_inventory hardware_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hardware_inventory
    ADD CONSTRAINT hardware_inventory_pkey PRIMARY KEY (id);


--
-- Name: network_info network_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.network_info
    ADD CONSTRAINT network_info_pkey PRIMARY KEY (id);


--
-- Name: performance_metrics performance_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance_metrics
    ADD CONSTRAINT performance_metrics_pkey PRIMARY KEY (id);


--
-- Name: plan_features plan_features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT plan_features_pkey PRIMARY KEY (id);


--
-- Name: plan_features plan_features_plan_id_feature_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT plan_features_plan_id_feature_id_key UNIQUE (plan_id, feature_id);


--
-- Name: plans plans_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_name_key UNIQUE (name);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: security_status security_status_device_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_status
    ADD CONSTRAINT security_status_device_id_key UNIQUE (device_id);


--
-- Name: security_status security_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_status
    ADD CONSTRAINT security_status_pkey PRIMARY KEY (id);


--
-- Name: software_inventory software_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software_inventory
    ADD CONSTRAINT software_inventory_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: users users_email_company_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_company_id_key UNIQUE (email, company_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_agents_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agents_company ON public.agents USING btree (company_id);


--
-- Name: idx_agents_company_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agents_company_status ON public.agents USING btree (company_id, status);


--
-- Name: idx_agents_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agents_device ON public.agents USING btree (device_id);


--
-- Name: idx_agents_last_heartbeat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agents_last_heartbeat ON public.agents USING btree (last_heartbeat) WHERE ((status)::text = 'online'::text);


--
-- Name: idx_agents_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agents_status ON public.agents USING btree (status);


--
-- Name: idx_ai_insights_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_insights_company ON public.ai_insights USING btree (company_id);


--
-- Name: idx_ai_insights_company_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_insights_company_device ON public.ai_insights USING btree (company_id, device_id) WHERE (device_id IS NOT NULL);


--
-- Name: idx_ai_insights_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_insights_device ON public.ai_insights USING btree (device_id);


--
-- Name: idx_ai_insights_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_insights_status ON public.ai_insights USING btree (status);


--
-- Name: idx_ai_insights_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_insights_type ON public.ai_insights USING btree (insight_type);


--
-- Name: idx_alerts_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_company ON public.alerts USING btree (company_id);


--
-- Name: idx_alerts_company_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_company_status ON public.alerts USING btree (company_id, status);


--
-- Name: idx_alerts_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_created_at ON public.alerts USING btree (created_at DESC);


--
-- Name: idx_alerts_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_device ON public.alerts USING btree (device_id);


--
-- Name: idx_alerts_device_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_device_status ON public.alerts USING btree (device_id, status) WHERE (device_id IS NOT NULL);


--
-- Name: idx_alerts_severity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_severity ON public.alerts USING btree (severity);


--
-- Name: idx_alerts_severity_critical; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_severity_critical ON public.alerts USING btree (severity) WHERE ((severity)::text = ANY ((ARRAY['critical'::character varying, 'high'::character varying])::text[]));


--
-- Name: idx_alerts_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_status ON public.alerts USING btree (status);


--
-- Name: idx_alerts_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alerts_type ON public.alerts USING btree (alert_type);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_company ON public.audit_logs USING btree (company_id);


--
-- Name: idx_audit_logs_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_created ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_user ON public.audit_logs USING btree (user_id);


--
-- Name: idx_companies_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_code ON public.companies USING btree (company_code);


--
-- Name: idx_companies_plan; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_plan ON public.companies USING btree (plan_id);


--
-- Name: idx_companies_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_status ON public.companies USING btree (status);


--
-- Name: idx_devices_agent_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_agent_id ON public.devices USING btree (agent_id) WHERE (agent_id IS NOT NULL);


--
-- Name: idx_devices_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_company ON public.devices USING btree (company_id);


--
-- Name: idx_devices_company_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_company_status ON public.devices USING btree (company_id, status);


--
-- Name: idx_devices_hostname; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_hostname ON public.devices USING btree (hostname);


--
-- Name: idx_devices_last_seen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_last_seen ON public.devices USING btree (last_seen DESC);


--
-- Name: idx_devices_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_status ON public.devices USING btree (status);


--
-- Name: idx_event_logs_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_logs_device ON public.event_logs USING btree (device_id);


--
-- Name: idx_event_logs_device_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_logs_device_time ON public.event_logs USING btree (device_id, time_generated DESC);


--
-- Name: idx_event_logs_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_logs_level ON public.event_logs USING btree (level);


--
-- Name: idx_event_logs_level_critical; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_logs_level_critical ON public.event_logs USING btree (level) WHERE ((level)::text = ANY ((ARRAY['critical'::character varying, 'error'::character varying])::text[]));


--
-- Name: idx_event_logs_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_logs_time ON public.event_logs USING btree (time_generated DESC);


--
-- Name: idx_event_logs_type_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_logs_type_level ON public.event_logs USING btree (log_type, level);


--
-- Name: idx_hardware_component; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hardware_component ON public.hardware_inventory USING btree (component_type);


--
-- Name: idx_hardware_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hardware_device ON public.hardware_inventory USING btree (device_id);


--
-- Name: idx_hardware_device_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hardware_device_type ON public.hardware_inventory USING btree (device_id, component_type);


--
-- Name: idx_hardware_serial; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hardware_serial ON public.hardware_inventory USING btree (serial_number) WHERE (serial_number IS NOT NULL);


--
-- Name: idx_network_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_network_device ON public.network_info USING btree (device_id);


--
-- Name: idx_performance_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_device ON public.performance_metrics USING btree (device_id);


--
-- Name: idx_performance_device_recorded; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_device_recorded ON public.performance_metrics USING btree (device_id, recorded_at DESC);


--
-- Name: idx_performance_recorded; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_recorded ON public.performance_metrics USING btree (recorded_at DESC);


--
-- Name: idx_software_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_software_device ON public.software_inventory USING btree (device_id);


--
-- Name: idx_software_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_software_name ON public.software_inventory USING btree (name);


--
-- Name: idx_tickets_assigned_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_assigned_to ON public.tickets USING btree (assigned_to) WHERE (assigned_to IS NOT NULL);


--
-- Name: idx_tickets_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_company ON public.tickets USING btree (company_id);


--
-- Name: idx_tickets_company_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_company_status ON public.tickets USING btree (company_id, status);


--
-- Name: idx_tickets_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_priority ON public.tickets USING btree (priority);


--
-- Name: idx_tickets_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_status ON public.tickets USING btree (status);


--
-- Name: idx_users_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_company ON public.users USING btree (company_id);


--
-- Name: idx_users_company_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_company_role ON public.users USING btree (company_id, role);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_email_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email_company ON public.users USING btree (email, company_id);


--
-- Name: agent_configurations update_agent_configurations_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_agent_configurations_updated_at BEFORE UPDATE ON public.agent_configurations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: agents update_agents_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_agents_updated_at BEFORE UPDATE ON public.agents FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ai_insights update_ai_insights_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_ai_insights_updated_at BEFORE UPDATE ON public.ai_insights FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: alerts update_alerts_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_alerts_updated_at BEFORE UPDATE ON public.alerts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: companies update_companies_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_companies_updated_at BEFORE UPDATE ON public.companies FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: company_features update_company_features_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_company_features_updated_at BEFORE UPDATE ON public.company_features FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: devices update_devices_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_devices_updated_at BEFORE UPDATE ON public.devices FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: hardware_inventory update_hardware_inventory_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_hardware_inventory_updated_at BEFORE UPDATE ON public.hardware_inventory FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: network_info update_network_info_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_network_info_updated_at BEFORE UPDATE ON public.network_info FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: security_status update_security_status_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_security_status_updated_at BEFORE UPDATE ON public.security_status FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: software_inventory update_software_inventory_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_software_inventory_updated_at BEFORE UPDATE ON public.software_inventory FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tickets update_tickets_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_tickets_updated_at BEFORE UPDATE ON public.tickets FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: agent_configurations agent_configurations_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_configurations
    ADD CONSTRAINT agent_configurations_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: agents agents_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: ai_insights ai_insights_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_insights
    ADD CONSTRAINT ai_insights_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: ai_insights ai_insights_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_insights
    ADD CONSTRAINT ai_insights_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_acknowledged_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_acknowledged_by_fkey FOREIGN KEY (acknowledged_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: alerts alerts_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: companies companies_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id);


--
-- Name: company_features company_features_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_features
    ADD CONSTRAINT company_features_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: company_features company_features_feature_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_features
    ADD CONSTRAINT company_features_feature_id_fkey FOREIGN KEY (feature_id) REFERENCES public.features(id) ON DELETE CASCADE;


--
-- Name: devices devices_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE SET NULL;


--
-- Name: devices devices_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: event_logs event_logs_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_logs
    ADD CONSTRAINT event_logs_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: hardware_inventory hardware_inventory_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hardware_inventory
    ADD CONSTRAINT hardware_inventory_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: network_info network_info_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.network_info
    ADD CONSTRAINT network_info_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: performance_metrics performance_metrics_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance_metrics
    ADD CONSTRAINT performance_metrics_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: plan_features plan_features_feature_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT plan_features_feature_id_fkey FOREIGN KEY (feature_id) REFERENCES public.features(id) ON DELETE CASCADE;


--
-- Name: plan_features plan_features_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT plan_features_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE CASCADE;


--
-- Name: security_status security_status_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_status
    ADD CONSTRAINT security_status_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: software_inventory software_inventory_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software_inventory
    ADD CONSTRAINT software_inventory_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: tickets tickets_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tickets tickets_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: tickets tickets_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: tickets tickets_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: tickets tickets_related_alert_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_related_alert_id_fkey FOREIGN KEY (related_alert_id) REFERENCES public.alerts(id) ON DELETE SET NULL;


--
-- Name: users users_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict gw7y1TXTbXL3yw6cIel75P4lw0u4IBQcn6dCBUaTBdShUsWdDkPijSmX07cv07F

